<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
    <h1>All Transactions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Book Title</th>
                <th>Borrow Date</th>
                <th>Return Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Customer.Name}}</td>
                <td>{{.Book.Title}}</td>
                <td>{{.BorrowDate}}</td>
                <td>{{.ReturnDate}}</td>
                <td>{{.Status}}</td>
                <!-- <td>
                    <a href="{{.ViewLink}}">View</a>
                </td> -->
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>